.section {
  height: 200px;
}

.section.primary {
  background-color: #253641;
  color: #f4eded;
}

.section.secondary {
  background-color: #82846d;
  color: #f4eded;
}

/*Colours:
#253641
#82846D
#47A8BD
#F9DB6D
#F4EDED
*/
